{% extends 'layouts/base.html' %}

{% block title %} Courses {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3">
            This is a list of all test questions
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">

            {% if msg %}
              <p>{{ msg }}</p>
            {% else %}
              <p>
                This is a list of Questions
              </p>
            {% endif %}  

            </div>
            
        
          <div class="container-fluid mt--7">

            <div class="row">
              <div class="col">
                <div class="card shadow">
                  <div class="card-header bg-transparent">
                    <h3 class="mb-0">Tests</h3>
                  </div>
                  <div class="card-body">
                    <div class="row icon-examples">
                      {% if tests%}
                        {% for test, questions in questions.items %}
                          <div class="col-lg-3 col-md-6">
                              <a class = 'overlay' href = {% url 'core:questions_view' test%}>
                                <div class="card-button">
                                  <a href={% url 'core:questions_view' test%}>{{ test }}</a>
                                  <br>
                                  <p>Preguntas: {{questions}}</p>
                                </div>
                              </a>
                          </div>
                        {% endfor %}
                      {% else %}
                        <p> No questions to show</p>
                      {% endif %}
                    </div>
                    
                    <br>
                    <a href="{% url 'core:course_creation' %}">Create Course</a>
                    <br>
                    <a href="{% url 'core:test_creation' %}">Create Test Question</a>
                    <br>
                    <a href="{% url 'core:student_creation' %}">Create Student</a>
                    <br>
                    <br>
                    <a href="{% url 'core:test_date_creation' %}">Assign Date to Test</a>
                    <br>
                    <div class="col-xl-3 col-lg-6">
                      <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <span class="h2 font-weight-bold mb-0">
                                <a href={% url 'core:courses_view' %}>View Courses</a>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
      
            {% include "includes/footer.html" %}
      
          </div>



        </div>
          </div>




{% endblock %}

{% block javascripts %}

{% endblock javascripts %}


