
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a href="{% url 'home' %}" 
                 class="font-weight-bold ml-1" target="_blank">Home</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
                 Coded by <p>Felipe Azúa Zagal</p>
            </div>
          </div>
        </div>
      </footer>
